<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <a href="/" class="btn btn-success float-left"><i></i>All Customers</a>
            </div>
            <div class="card-body">
                <form action="/addCustomer" id="add_customer_form" method="POST">
           <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="col-form-label" for="firstname">First Name</label>
                            <input type="text" class="form-control" name="firstname" placeholder="Enter Firstname" id="firstname">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="col-form-label" for="lastname">Last Name</label>
                            <input type="text" class="form-control" name="lastname" placeholder="Enter Lastname" id="lastname">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="col-form-label" for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" name="phoneNumber" placeholder="Enter Phone Number" id="phoneNumber">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="col-form-label" for="cnic">CNIC</label>
                            <input type="text" class="form-control" name="cnic" placeholder="2222-222-22" id="cnic">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label  for="address">Address</label>
                            <input type="text" class="form-control" name="address" placeholder="Enter Address" id="address">
                            <p></p>
                            </div>
                        </div>
                    </div>
               <div class="">
   <button type="submit" class="btn btn-success">Submit</button>
   <a href="/" class="btn btn-light">Cancel</a>
               </div>
                </form>
            </div>
        </div>